{% extends 'auctions/layout.html' %}
{% load humanize %}
{% block title %}
    Watchlist
{% endblock %}

{% block body %}
    <h2 class="section-title">Watchlist</h2>

    <div class="listings-container">
        {% if watchlist %}
            {% for listing in watchlist %}
            <a href="{% url 'listing' listing.id %}" class="listing-link">
                <div class="listing-row">
                    {% if listing.image %}
                        <img src="{{ listing.image.url }}" alt="Uploaded Image" class="listing-image">
                    {% endif %}
                    <div class="listing-details">
                        <h3 class="listing-title">{{ listing.title }}</h3>
                        <p class="listing-description">{{ listing.description }}</p>
                        <p class="listing-price">Price: <strong>${{ listing.starting_bid|intcomma }}</strong></p>
                    </div>
                </div>
            </a>
            {% endfor %}
        {% else %}
            <p>Your watchlist is empty.</p>
        {% endif %}
    </div>
{% endblock %}
